EXPO_PUBLIC_API_URL=https://api.receipt.ie/api/v1
EXPO_PUBLIC_SUPABASE_URL=https://xxxx.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJ...
EXPO_PUBLIC_RC_APPLE_KEY=test_pEATeAqJvVWOpnLEYhsboFIUCHN
EXPO_PUBLIC_RC_GOOGLE_KEY=
